body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background: #E1E0ED;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}


.container {
  width: 200px;
  height: 120px;
}

/* resize images */
.container img {
  width: 100%;
  height: auto;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}
.pageView {
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}
.log-in, .log-out, .register {
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
/* .link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
} */
