.login-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
}

h1 {
    text-align: center;

}
.login {
  overflow: hidden;
  text-align: center;
  background-image: url('../images/background_2.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: auto;
}

.Avatar {
    text-align: center;
}
